# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env

# Reports & logs
reports/
logs/

# Pytest cache
.pytest_cache/

# IDE
.vscode/
.idea/